.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #b8860b;
  margin: 0;
  padding: 0;
}
.mainContainer {
  padding: 50px;
  padding-top: 70px;
}

.newQuoteContainer {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: white;
  margin-bottom: 10px;
  text-align: center;
}

newQuoteButton {
  margin-top: 20px;
}
h2 {
  text-align: center;
  margin-top: 0;
  padding: 0px 60px 90px;
}
